@model Lab8.Models.GroupModel

@{
    ViewData["Title"] = "CreateGroup";
}
<body>
    <h1>
        Create new Group
    </h1>
@using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">    
        @Html.LabelFor(m=>m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">    
        @Html.LabelFor(m=>m.Description, new { @class = "control-label" })
        @Html.TextAreaFor(m=>m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">    
        @Html.LabelFor(m=>m.Type, new { @class = "control-label" })
        @Html.DropDownListFor(m=>m.Type, new SelectList(Lab8.Models.GroupModel.GroupTypes), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <button type="submit" class="btn btn-primary">Create Group</button>
}
</body>