@model GroupModel
@{
    ViewData["Title"] = "Group";
}
<body>
    <h1>
        @Model.Name
    </h1>
    <p>
        @Model.Description
    </p>
    <h3>
        Group Size: @Model.NumberOfMembers
    </h3>
    <h3>
        Group Type: @Model.Type;
    </h3>
    <h4>
        Created: @Model.DateCreated
    </h4>
    <p>
        Note: Each user can only be a part of one group at a time.
    </p>
    <h2>
        <div>
            <a asp-area="" asp-controller="Group" asp-action="CreateGroup">Create New Group</a>
        </div>
    </h2>
    <h2>
        <div>
            <a asp-area="" asp-controller="Group" asp-action="JoinGroup">Join New Group</a>
        </div>
    </h2>
</body>