@model IEnumerable<WorkOutModel>
@{
    ViewData["Title"] = "TrainingLogs";
}
<body>
    <h1>
        Training Logs
    </h1>
    <h2>
    <div>
        <a asp-area="" asp-controller="WorkOut" asp-action="PostBlog">Post Workout</a>
    </div>
    </h2>

<ul class="list-group">
    @foreach (var WorkOut in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <a href="@Url.Action("View", "WorkOut", new { @id = WorkOut.ID })">@WorkOut.Name</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        @WorkOut.Date
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        @WorkOut.Rating
                    </p>
                </div>
                <div class="col-md-2">
                    <form class ="form-inline" asp-action="Delete" asp-controller="WorkOut" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@WorkOut.ID" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </div>
            </div>
        </li>

    }
</ul>
</body>